.skills-container{
    background-color: #D0F9DB;
    color: #1F8B1C;
    width: fit-content;
    height: auto;
    border-color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 50px;
    padding: 100px;


}